@{
    ViewBag.Title = "信息页";
}

    <div style="margin:0 auto;margin-top:10em;width:50%;">
        
        <form id="login_form" class="form-horizontal" style="margin-top:2em;">
            <div class="form-group">
                <label for="password" class="col-sm-2 col-sm-offset-2 control-label">密码</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password" placeholder="Password" value="@ViewBag.password">
                </div>
            </div>
            <div id="regist_group">
                <div class="form-group">
                    <label for="sex_div" class="col-sm-2 col-sm-offset-2 control-label">性别</label>
                    <div class="col-sm-8">
                        <div id="sex_div" class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="sex_r" value="0"> 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="sex_r" value="1"> 女
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="age" class="col-sm-2 col-sm-offset-2 control-label">年龄</label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" id="age" value="@ViewBag.age">
                    </div>
                </div>
                <div class="form-group">
                    <label for="info" class="col-sm-2 col-sm-offset-2 control-label">个人信息</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="info" value="@ViewBag.info">
                    </div>
                </div>
            </div>
        </form>
        <center>
            <button id="regist_btn" class="btn btn-default" onclick="registClick()" style="width:6em;">更新</button>
        </center>

        <script type="text/javascript">
            onload = function () {
                $("input[name='sex_r'][value='@ViewBag.sex']").attr("checked",true); 
            }
            function registClick() {
                //通过ajax异步将数据发送给action层
                $.ajax({
                    url: '../api/Update',//这里写上你的action路径
                    data: JSON.stringify({
                        type:0,
                        username:'@Session["username"]',
                        password: $('#password').val(),
                        sex: $("input[name='sex_r']:checked").val(),
                        age: $('#age').val(),
                        info: $('#info').val(),
                    }),//将你在form表单上提交的数据序列化
                    type: 'POST',  //提交方式
                    dataType: 'text', //提交的数据类型
                    contentType: "application/json",
                    async: true, //是否异步
                    success: function (data) {//这是个回调函数  data表示从action中传过来的json数据
                        //弹出从action层传过来的json格式的数据(用来显示是否更新成功)
                        if (data.length >= 10)
                            alert("更新成功");
                        else {
                            alert(data);
                            return;
                        }
                        login_nav_click();
                    }
                });
            }
        </script>
    </div>